.header {
    z-index: 2;
  }
  
  header {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    justify-content: space-between;
    align-items: center;
  }
  .socials {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
  
    svg {
      fill: #fff;
      width: 16px;
      height: 16px;
      transition: fill 0.25s ease;
    }
    &-item {
        &:hover {
          svg {
            fill: $action;
          }
        }
      }
    }
    .menu {
        column-gap: 16px;
        display: flex;
        width: 100%;
        justify-content: center;

        &-item {
            a {
            color:#fff;
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            transition: color 0.25s ease;
          

            &:hover {
                color: rgb(210, 41, 210);
            }
        }

      
    }
    }