.register {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527490;
  flex-direction: column;
  gap: 10px;

  &_container {
    padding: 20px 0px;
    width: 500px;
    min-height: 400px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(255, 255, 255, 0.57);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    &_content {
      max-width: 80%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: auto;
      gap: 30px;

      &_title {
        font-size: 30px;
        font-weight: 1000;
        color: #122d42;
      }

      form {
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;

        input {
          padding: 5px;
          font-size: 17px;
          height: 20px;
          border: none;
          border-bottom: 3px solid rgb(70, 70, 70);
          background: transparent;
          color: white;
          &::placeholder {
            color: white;
          }

          outline-color: transparent;
        }

        button {
          display: inline-block;
          outline: 0;
          border: none;
          box-shadow: none;
          cursor: pointer;
          font-size: 17px;
          width: 120px;
          height: 30px;
          font-weight: 400;
          color: #fff;
          text-align: center;
          line-height: normal;
          background: linear-gradient(90deg, #5522fa 0, #0074e4 100%);
          border-radius: 50px;
          transition: color 0.2s ease, background-color 0.2s ease,
            box-shadow 0.2s ease;

          &:hover {
            box-shadow: 0 0 0 0.15rem #5ceace;
          }
        }
        span {
          color: #122d42;
        }
      }

      a {
        color: #122d42;
        text-decoration: underline;
      }
    }
  }
  @media only screen and (max-width: 550px) {
    &_container {
      width: 280px;
    }
  }

  p {
    color: white;
    a {
      padding-left: 5px;
      color: white;
      text-decoration: underline;
      transition: 200ms;
      &:hover {
        color: #7fa9c9;
      }
    }
  }
}

@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
      (-0.5+ (random()) * 3) +
        em
        (-0.5+ (random()) * 3) +
        em
        7px
        hsla(random() * 360, 100%, 50%, 0.9);
  }
  text-shadow: $text-shadow;
}

.register {
  background: rgb(22, 53, 83);
}

.register {
  color: transparent;
}

.register::before,
.register::after,
.register::before,
.register::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
  z-index: -1;
}

body::before {
  @include dots(40);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  @include dots(40);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  @include dots(40);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  @include dots(40);
  animation-duration: 41s;
  animation-delay: -19s;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}
