.feature {
  &__container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 120px 15px;
  }
  &__header {
    text-align: center;
    margin-bottom: 75px;
    h2 {
      display: inline-block;
      font-family: "Heebo", sans-serif;
      font-size: 1.25rem;
      color: #222222;
      font-weight: bold;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      font-size: 0.875rem;
      font-family: "Roboto", sans-serif;
      line-height: 1.75rem;
      color: #777777;
      max-width: 740px;
      margin: auto;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 1200px) {
    &__cards {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (max-width: 750px) {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
