.projects {
    &__container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 100px 15px;
    }
    &__top {
      text-align: center;
      h2 {
        display: inline-block;
        font-family: "Heebo", sans-serif;
        font-size: 2.25rem;
        color: #222222;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
      }
      p {
        font-size: 0.875rem;
        font-family: "Roboto", sans-serif;
        line-height: 1.75rem;
        color: #777777;
        max-width: 740px;
        margin: auto;
      }
    }
  }